body {
    background-color: #fff6d1;
    margin: 0px;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Karla', sans-serif;
}

.elements {
    margin: 0 auto;
}

#carrot {
    width: 30vw;
}

p {
    margin-top: 40px;
    text-align: center;
    color: #805f26;
    width: 30%;
}