.bar {
    position: fixed;
    border-radius: 0px 30px 30px 0px;
    border: 0.95px solid black;
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0px 20px 60px;
    margin-top: 11vh;
}

.all {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
}
.all:hover {
    cursor: pointer;
}

.station {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
}
.station:hover {
    cursor: pointer;
}

.clickedNav {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
}
.clickedNav:hover {
    cursor: pointer;
}